Repository TristanWatanabe/monosize, changes with the owners that .github/CODEOWNERS names for each.
All owners: @layershifter, @microsoft/fluentui-react-build, @hotell

.github/CODEOWNERS:

# Catch All Rule
* @layershifter @microsoft/fluentui-react-build


# Packages
packages/monosize @layershifter @hotell
packages/monosize-storage-azure @layershifter
packages/monosize-storage-upstash @layershifter

add @azure/identity dependency
  package.json
  packages/monosize-storage-azure/package.json
  yarn.lock
Owners: @layershifter, @microsoft/fluentui-react-build

dedupe
  yarn.lock
Owners: @layershifter, @microsoft/fluentui-react-build

feat: add DefaultAzureCredential usage
  packages/monosize-storage-azure/src/uploadReportToRemote.mts
Owners: @layershifter

Changes needed for testing enviroment
  .gitignore
  monosize.config.mjs
  packages/monosize/bundle-size/monosize.fixture.js
  packages/monosize/project.json
Owners: @layershifter, @microsoft/fluentui-react-build, @hotell

Add bundle size pipeline yaml
  azure-pipelines.bundlesize.yml
Owners: @layershifter, @microsoft/fluentui-react-build

TEST: add missing command
  package.json
Owners: @layershifter, @microsoft/fluentui-react-build

use azure cli
  azure-pipelines.bundlesize.yml
  packages/monosize-storage-azure/src/uploadReportToRemote.mts
Owners: @layershifter, @microsoft/fluentui-react-build

try workload identity creds
  azure-pipelines.bundlesize.yml
  packages/monosize-storage-azure/src/uploadReportToRemote.mts
Owners: @layershifter, @microsoft/fluentui-react-build

add logging
  package.json
  packages/monosize-storage-azure/package.json
  packages/monosize-storage-azure/src/uploadReportToRemote.mts
  yarn.lock
Owners: @layershifter, @microsoft/fluentui-react-build

use azure pipelines credential
  azure-pipelines.bundlesize.yml
  packages/monosize-storage-azure/src/uploadReportToRemote.mts
Owners: @layershifter, @microsoft/fluentui-react-build

use new table name
  azure-pipelines.bundlesize.yml
Owners: @layershifter, @microsoft/fluentui-react-build

run compare-reports
  azure-pipelines.bundlesize.yml
  monosize.config.mjs
Owners: @layershifter, @microsoft/fluentui-react-build

fix syntax
  azure-pipelines.bundlesize.yml
Owners: @layershifter, @microsoft/fluentui-react-build

use Build.SourceBranchName
  azure-pipelines.bundlesize.yml
Owners: @layershifter, @microsoft/fluentui-react-build

add change to increase bundle
  packages/monosize/bundle-size/monosize.fixture.js
Owners: @layershifter, @hotell

use azureCLI
  azure-pipelines.bundlesize.yml
Owners: @layershifter, @microsoft/fluentui-react-build

use new function app
  monosize.config.mjs
Owners: @layershifter, @microsoft/fluentui-react-build

Upload first then compare
  azure-pipelines.bundlesize.yml
Owners: @layershifter, @microsoft/fluentui-react-build

fix syntax
  azure-pipelines.bundlesize.yml
Owners: @layershifter, @microsoft/fluentui-react-build

refactor: add createUploadReportToRemote function to pass config over to upload
  packages/monosize-storage-azure/src/index.mts
  packages/monosize-storage-azure/src/types.mts
  packages/monosize-storage-azure/src/uploadReportToRemote.mts
Owners: @layershifter

update monosize config to use new authType parameter
  monosize.config.mjs
Owners: @layershifter, @microsoft/fluentui-react-build

test increase bundle size & dont upload
  azure-pipelines.bundlesize.yml
  packages/monosize/bundle-size/monosize.fixture.js
Owners: @layershifter, @microsoft/fluentui-react-build, @hotell

add createTableClient
  packages/monosize-storage-azure/src/createTableClient.mts
  packages/monosize-storage-azure/src/uploadReportToRemote.mts
Owners: @layershifter

test upload
  azure-pipelines.bundlesize.yml
Owners: @layershifter, @microsoft/fluentui-react-build

add tableName to config
  packages/monosize-storage-azure/src/createTableClient.mts
  packages/monosize-storage-azure/src/types.mts
  packages/monosize-storage-azure/src/uploadReportToRemote.mts
Owners: @layershifter
